@import 'common/reset';
@import 'common/variables';
@import 'common/mixins';
@import 'common/footer';

.user_center_order_compare{
  background-color:$bg_light_red;
  padding-top:30px;
  padding-bottom:50px;
  .order{
    width:$wrap_width;
    background-color:$white;
    margin:0 auto;
    .orderInfo{
      padding-top:30px;
      .orderInfoText{
        display: inline-block;
        position: absolute;
        .title{
          font-size:18px;
          font-weight: bold;
          color:$gray;
          margin-top:15px;
          margin-bottom:10px;
        }
        .subtitle{
          color:$black;
          width:745px;
          line-height:20px;
          span{
            border-right: 1px solid $black;
            display:inline-block;
            padding-right: 10px;
            margin-right:10px;
            line-height:15px;
          }
        }
      }
    }
    .orderNumber{
      background-color:$gray;
      height:35px;
      position: relative;
      p{
        display:inline-block;
        color:$white;
        line-height:35px;
        position: absolute
      }
      .ensure{
        font-size:14px;
        left:50px;
      }
      .number{
        right:85px;
      }
    }
    .orderDetail{
      position:relative;
      .detailLandprice{
        width:720px;
        margin-left:50px;
        padding-top:30px;
        display:inline-block;
        vertical-align:top;
        p{
          color:$gray;
          font-size:14px;
        }
        .total{
          font-size:30px;
          font-weight:bold;
          margin-bottom:45px;
        }
        table{
          width:700px;
          tbody{
            border-bottom:1px dotted #ecedee;
            tr{
              .leftrow{
                width:100px;
                vertical-align: top;
                color:#666;
              }
              .price{
                font-weight:bold;
                color:$black;
              }
              td{
                line-height:30px;
                color:$black;
              }
            } 
            .firstBottom,.thirdBottom,.forthBottom{
              height:45px;
              vertical-align:top;
            }
            .second{
              height:60px;
              .leftrow{
                vertical-align:middle;
              }
            }
            .thirdTop,.forthTop{
              height:45px;
              vertical-align:bottom;
              .leftrow{
                vertical-align:bottom;
              }
            }
            .fifth{
              height:120px;
              .leftrow{
                vertical-align:middle;
              }
              .information{
                width:530px;
              }
            }
          } 
        }
        .salesManager{
          padding-top:30px;
          padding-bottom:30px;
          border-bottom:1px dotted #ecedee;
          .contact{
            display:inline-block;
            font-weight:bold;
            margin-left:35px;
            vertical-align:top;
          }
        }
        .paid{
          padding-top:40px;
          padding-bottom:100px;
          p{
            display:inline-block;
            span{
              font-size:30px;
              margin-left:10px;
              color:$black;
            }
          }
          img{
            display:inline-block;
            vertical-align:middle
          }
          span{
            display:inline-block;
            color:$blue;
            font-weight:bold;
            margin-right:30px;
          }
          .cancel{
            display:inline-block;
            width:165px;
            height:50px;
            background-color:#868686;
            color:$white;
            text-align: center;
            line-height:50px;
            font-size:14px;
            font-weight:bold;
          }
        }
      }
      .detailEnsure{
        width:340px;
        margin-top:40px;
        margin-right:50px;
        border-left:1px dotted #ecedee;
        padding-left:40px;
        display:inline-block;
        .deal{
          font-size:16px;
          font-weight:bold;
          color:$black;
          margin-bottom:50px;
        }
        li{
          margin-bottom:40px;
         .question{
           display:inline-block;
           vertical-align:top;
           font-size:14px;
           color:$black;
           font-weight:bold;
           line-height:28px;
         }
         .answer{
           width:255px;
           margin-left:38px;
           margin-top:15px;
           line-height:18px;
           color:$black;
         } 
        }
        
      }
    }
  }
}