<div class="ad_banner fotorama" data-width="1170" data-height="187" data-autoplay="4000">
  <%for(var i = 0; i < dsCarAdBanner.length; i++){%>
    <div>
      <a href="<%-dsCarAdBanner[i].advertLink%>">
        <img src="<%-dsCarAdBanner[i].advertPic%>">
      </a>
    </div>
  <%}%>
</div>
