<div class="user_info">
  <div class="contact_wrapper clearfix">
    <div class="icon fl">
      <img width="57" src="http://static.haomaiche.com/common/images/type/97c32ef81208445ca690672e6417f7ea.png">
    </div>
    <div class="contact fl">
      <p class="user_name">王先生</p>
      <p class="user_phone">186****6565</p>
    </div>
  </div>
  <div class="history_wrapper">
    <!-- user history module -->
  </div>
  <%include ./user_center/recommand_list.ejs%>
</div>
