<div class="header_wrap">
  <div id="header">
    <img class="logo" src="/images/logo.png">
    <select>
    	<option>上海</option>
    	<option>杭州</option>
    </select>
    <input type="text" class="searchBox"></input>
    <img class="search" src="/images/search.png">
    <div class="car"></div>
    <div class="person"></div>
  </div>
</div>
