<div class="popup" id="popup-brand">
</div>
<div class="home-popup-cont clearfix">
    <i class="popup-close" id="popupClose"></i>
    <div class="home-popup-menu fl">
    </div>
    <div class="home-popup-pic fl">
    </div>
</div>
