@charset "UTF-8";
html, body, address, blockquote, div, dl, form, h1, h2, h3, h4, h5, h6, ol, p,
pre, table, ul, dd, dt, li, tbody, td, tfoot, th, thead, tr, button, del, ins,
map, object, abbr, acronym, b, big, br, cite, code, dfn, em, i, img, kbd,
q, samp, small, span, strong, sub, sup, tt, var, legend, fieldset, select, input {
  margin: 0;
  padding: 0; }

body {
  font-size: 12px;
  font-family: '微软雅黑','Tahoma', 'Verdana', 'Arial', 'Helvetica', 'sans-serif';
  -webkit-text-size-adjust: none;
  color: #666; }

address, cite, dfn, em, var, i {
  font-style: normal; }

fieldset, img, button, input {
  border: 0; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: 100%; }

button, input, select, textarea {
  font-size: 14px;
  font-family: 'Microsoft YaHei'; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* set html5 elements to block */
article, aside, details, figcaption, figure, footer, header menu, nav, section {
  display: block; }

ul, div, article, aside, footer, header, menu, nav, section {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

a {
  text-decoration: none;
  color: #666; }

li {
  list-style: none; }

/* reset webkit search input styles */
input[type=search] {
  -webkit-appearance: none;
  outline: none; }

input {
  outline: 0 none; }

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  display: none; }

img {
  border: 0; }

input, button, textarea {
  outline: none; }

/*正常*/
em, i {
  font-style: normal; }

.normal {
  font-style: normal; }

/*加粗*/
.bold {
  font-weight: bold; }

/*显示类*/
/*颜色类*/
/*高度类*/
/*行高*/
/*透明度*/
/*字符间距*/
/*字号*/
html {
  -webkit-text-size-adjust: none; }

.size-12 {
  font-size: 12px; }

.size-13 {
  font-size: 13px; }

.size-14 {
  font-size: 14px; }

.size-15 {
  font-size: 15px; }

.size-16 {
  font-size: 16px; }

.size-18 {
  font-size: 18px; }

.size-20 {
  font-size: 20px; }

.size-22 {
  font-size: 22px; }

.size-23 {
  font-size: 23px; }

.size-24 {
  font-size: 24px; }

.size-25 {
  font-size: 25px; }

/*字体*/
/*html 数据*/
.hide {
  display: none; }

/* 浮动*/
.tr {
  text-align: right; }

.tc {
  text-align: center; }

.fl {
  float: left; }

.fr {
  float: right; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "020";
  clear: both;
  height: 0; }

.clearfix {
  zoom: 1;
  clear: both; }

/*margin类*/
.mt5 {
  margin-top: 5px; }

.mt10 {
  margin-top: 10px; }

.mt15 {
  margin-top: 15px; }

.mt20 {
  margin-top: 20px; }

.mt25 {
  margin-top: 25px; }

.mt30 {
  margin-top: 30px; }

.mt35 {
  margin-top: 35px; }

.mt40 {
  margin-top: 40px; }

.mt45 {
  margin-top: 45px; }

.mt50 {
  margin-top: 50px; }

.mb5 {
  margin-bottom: 5px; }

.mb10 {
  margin-bottom: 10px; }

.mb15 {
  margin-bottom: 15px; }

.mb20 {
  margin-bottom: 20px; }

.mb25 {
  margin-bottom: 25px; }

.mb30 {
  margin-bottom: 30px; }

.mb35 {
  margin-bottom: 35px; }

.mb40 {
  margin-bottom: 40px; }

.mb45 {
  margin-bottom: 45px; }

.mb50 {
  margin-bottom: 50px; }

.ml5 {
  margin-left: 5px; }

.ml10 {
  margin-left: 10px; }

.ml15 {
  margin-left: 15px; }

.ml20 {
  margin-left: 20px; }

.ml25 {
  margin-left: 25px; }

.ml30 {
  margin-left: 30px; }

.ml35 {
  margin-left: 35px; }

.ml40 {
  margin-left: 40px; }

.ml45 {
  margin-left: 45px; }

.ml50 {
  margin-left: 50px; }

.mr5 {
  margin-right: 5px; }

.mr10 {
  margin-right: 10px; }

.mr15 {
  margin-right: 15px; }

.mr20 {
  margin-right: 20px; }

.mr25 {
  margin-right: 25px; }

.mr30 {
  margin-right: 30px; }

.mr35 {
  margin-right: 35px; }

.mr40 {
  margin-right: 40px; }

.mr45 {
  margin-right: 45px; }

.mr50 {
  margin-right: 50px; }

/*padding类*/
.pt5 {
  padding-top: 5px; }

.pt10 {
  padding-top: 10px; }

.pt15 {
  padding-top: 15px; }

.pt20 {
  padding-top: 20px; }

.pt25 {
  padding-top: 25px; }

.pt30 {
  padding-top: 30px; }

.pt35 {
  padding-top: 35px; }

.pt40 {
  padding-top: 40px; }

.pt45 {
  padding-top: 45px; }

.pt50 {
  padding-top: 50px; }

.pb5 {
  padding-bottom: 5px; }

.pb10 {
  padding-bottom: 10px; }

.pb15 {
  padding-bottom: 15px; }

.pb20 {
  padding-bottom: 20px; }

.pb25 {
  padding-bottom: 25px; }

.pb30 {
  padding-bottom: 30px; }

.pb35 {
  padding-bottom: 35px; }

.pb40 {
  padding-bottom: 40px; }

.pb45 {
  padding-bottom: 45px; }

.pb50 {
  padding-bottom: 50px; }

.pl5 {
  padding-left: 5px; }

.pl10 {
  padding-left: 10px; }

.pl15 {
  padding-left: 15px; }

.pl20 {
  padding-left: 20px; }

.pl25 {
  padding-left: 25px; }

.pl30 {
  padding-left: 30px; }

.pl35 {
  padding-left: 35px; }

.pl40 {
  padding-left: 40px; }

.pl45 {
  padding-left: 45px; }

.pl50 {
  padding-left: 50px; }

.pr5 {
  padding-right: 5px; }

.pr10 {
  padding-right: 10px; }

.pr15 {
  padding-right: 15px; }

.pr20 {
  padding-right: 20px; }

.pr25 {
  padding-right: 25px; }

.pr30 {
  padding-right: 30px; }

.pr35 {
  padding-right: 35px; }

.pr40 {
  padding-right: 40px; }

.pr45 {
  padding-right: 45px; }

.pr50 {
  padding-right: 50px; }

/*重置样式结束*/
.wrap {
  margin: 0 auto;
  width: 1170px; }

#footer {
  width: 100%;
  background: #030a11;
  min-width: 1170px; }

.footer_list {
  overflow: hidden;
  padding-top: 30px; }
  .footer_list .footer_tel {
    padding-top: 10px;
    padding-bottom: 8px;
    font-size: 18px; }
  .footer_list p {
    color: #fff;
    line-height: 20px; }

.footer_list_link {
  padding-top: 10px;
  margin-left: 80px; }

.footer_list_menu {
  margin-right: 72px;
  float: left; }
  .footer_list_menu dt {
    font-size: 14px; }
  .footer_list_menu dt, .footer_list_menu dd {
    line-height: 26px; }
    .footer_list_menu dt a, .footer_list_menu dd a {
      color: #fff; }

.footer_list_pic img {
  width: 110px;
  height: 150px;
  padding-left: 30px; }

.website_link {
  overflow: hidden;
  padding-top: 80px;
  padding-bottom: 44px; }
  .website_link p {
    color: #fff;
    text-align: center; }

.website_link_menu {
  margin: 20px auto 0;
  overflow: hidden;
  width: 740px; }
  .website_link_menu li {
    margin-right: 16px;
    float: left; }
    .website_link_menu li.no_margin {
      margin-right: 0; }

.user_center {
  background: #f6f6f6;
  padding-bottom: 50px;
  min-width: 1170px; }
  .user_center .my_favorite_module {
    width: 990px;
    height: 150px;
    background: white; }
    .user_center .my_favorite_module .car_image {
      width: 220px;
      margin: 10px;
      position: relative; }
      .user_center .my_favorite_module .car_image .car_discount {
        width: 55px;
        height: 55px;
        line-height: 55px;
        text-align: center;
        font-size: 16px;
        color: white;
        background: #09afec;
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: 0; }
    .user_center .my_favorite_module .car_description {
      width: 400px;
      margin-top: 40px; }
      .user_center .my_favorite_module .car_description h4 {
        font-size: 14px;
        font-weight: bold; }
      .user_center .my_favorite_module .car_description .sale_type_tags {
        margin-top: 20px;
        font-weight: bold; }
        .user_center .my_favorite_module .car_description .sale_type_tags li {
          display: inline-block; }
    .user_center .my_favorite_module .car_price {
      width: 260px;
      margin-top: 45px; }
      .user_center .my_favorite_module .car_price .price_info .direct_sale_label {
        color: white;
        display: inline-block;
        border-radius: 2px;
        height: 18px;
        line-height: 18px;
        padding: 0 15px;
        background: #727272;
        margin: 6px 5px 0 0; }
      .user_center .my_favorite_module .car_price .price_info .hmc_price {
        font-size: 22px;
        font-weight: bold;
        color: #09afec; }
      .user_center .my_favorite_module .car_price .discount_info {
        margin-top: 5px; }
        .user_center .my_favorite_module .car_price .discount_info .msrp {
          text-decoration: line-through;
          margin-right: 10px; }
    .user_center .my_favorite_module.not_available .car_image {
      opacity: 0.5; }
    .user_center .my_favorite_module.not_available .car_description .sale_type_tags {
      opacity: 0.5; }
    .user_center .my_favorite_module.not_available .car_price .status {
      font-size: 22px;
      text-align: right;
      font-weight: bold;
      opacity: 0.5; }
  .user_center .direct_sale_module {
    background: white; }
    .user_center .direct_sale_module .sub_info {
      height: 30px;
      line-height: 30px;
      border-bottom: 1px solid #d9dbdd; }
      .user_center .direct_sale_module .sub_info .order_number {
        width: 400px;
        text-align: center; }
      .user_center .direct_sale_module .sub_info .order_type, .user_center .direct_sale_module .sub_info .order_date {
        padding: 0 10px; }
    .user_center .direct_sale_module .sale_info {
      border-bottom: 1px solid #d9dbdd; }
      .user_center .direct_sale_module .sale_info .car_image {
        margin: 20px; }
      .user_center .direct_sale_module .sale_info .car_description {
        width: 360px;
        padding-right: 60px; }
        .user_center .direct_sale_module .sale_info .car_description h4 {
          font-size: 16px;
          font-weight: bold;
          margin: 30px 0 20px; }
      .user_center .direct_sale_module .sale_info .shop_info {
        width: 370px;
        text-align: center; }
        .user_center .direct_sale_module .sale_info .shop_info h4 {
          font-size: 16px;
          margin-top: 10px; }
        .user_center .direct_sale_module .sale_info .shop_info .shop_image {
          margin-top: 20px; }
    .user_center .direct_sale_module .deal_buttons {
      height: 68px; }
      .user_center .direct_sale_module .deal_buttons .cancel_order_button {
        width: 90px;
        height: 42px;
        color: white;
        background: #363636;
        margin: 10px 52px 0 0;
        cursor: pointer; }
      .user_center .direct_sale_module .deal_buttons .order_detail_link {
        height: 42px;
        width: 170px;
        text-align: center;
        background: #09afec;
        color: white;
        line-height: 42px;
        font-size: 16px;
        margin: 10px 10px 0 0; }
      .user_center .direct_sale_module .deal_buttons .show_pay_invoice {
        margin: 20px 10px 0;
        background: none;
        display: block;
        color: #09afec;
        cursor: pointer; }
  .user_center .subscription_module {
    width: 990px;
    height: 150px;
    background: white; }
    .user_center .subscription_module .car_description h4 {
      margin-top: 35px;
      font-size: 14px; }
    .user_center .subscription_module .car_description h5 {
      margin-top: 5px; }
    .user_center .subscription_module .car_description .sub_info {
      margin-top: 15px; }
    .user_center .subscription_module .other_buttons {
      width: 270px;
      line-height: 150px;
      text-align: center;
      font-size: 20px;
      font-weight: bold;
      color: #c2c2c2; }
    .user_center .subscription_module.not_available .car_description {
      width: 470px;
      color: #c2c2c2; }
  .user_center .inquire_module {
    background: white;
    height: 254px; }
    .user_center .inquire_module .sub_info {
      height: 30px;
      line-height: 30px;
      border-bottom: 1px solid #d9dbdd; }
      .user_center .inquire_module .sub_info .order_number {
        width: 400px;
        text-align: center; }
      .user_center .inquire_module .sub_info .order_type, .user_center .inquire_module .sub_info .order_date {
        padding: 0 10px; }
    .user_center .inquire_module .detail_info .car_image {
      margin: 20px; }
    .user_center .inquire_module .detail_info .car_description {
      width: 340px;
      height: 224px;
      border-right: 1px solid #d9dbdd;
      padding-right: 20px; }
      .user_center .inquire_module .detail_info .car_description h2 {
        font-size: 16px;
        font-weight: bold;
        margin: 30px 0; }
    .user_center .inquire_module .detail_info .inquire_status {
      width: 410px;
      text-align: center; }
      .user_center .inquire_module .detail_info .inquire_status .main_status_text {
        margin-top: 30px;
        font-size: 16px;
        font-weight: bold; }
      .user_center .inquire_module .detail_info .inquire_status .main_status_desc {
        margin-top: 5px; }
      .user_center .inquire_module .detail_info .inquire_status .check_inquire_link {
        margin-top: 22px; }
        .user_center .inquire_module .detail_info .inquire_status .check_inquire_link a {
          display: block;
          width: 260px;
          height: 42px;
          line-height: 42px;
          background: #09afec;
          color: white;
          font-size: 16px;
          margin: 0 auto; }
      .user_center .inquire_module .detail_info .inquire_status .status_list {
        margin-top: 10px;
        color: white; }
        .user_center .inquire_module .detail_info .inquire_status .status_list li {
          display: inline-block;
          position: relative;
          text-align: center; }
          .user_center .inquire_module .detail_info .inquire_status .status_list li .status_icon {
            width: 20px;
            height: 20px;
            top: 50%;
            left: 50%;
            margin-top: -10px;
            margin-left: -10px;
            position: absolute; }
          .user_center .inquire_module .detail_info .inquire_status .status_list li .status_text {
            width: 100%;
            position: absolute;
            bottom: 0; }
  .user_center .content {
    width: 1170px;
    margin: 0 auto;
    background: white;
    position: relative; }
    .user_center .content .menu {
      width: 170px;
      height: 100%;
      background: white;
      float: left; }
      .user_center .content .menu dl {
        margin-top: 30px;
        padding-left: 70px; }
        .user_center .content .menu dl dt {
          font-weight: bold;
          font-size: 14px; }
        .user_center .content .menu dl dd {
          margin-top: 10px; }
          .user_center .content .menu dl dd a {
            font-size: 12px;
            cursor: pointer; }
            .user_center .content .menu dl dd a.active, .user_center .content .menu dl dd a:hover {
              color: #09afec; }
    .user_center .content .detail {
      width: 1000px;
      padding-left: 10px;
      background: #f6f6f6; }
      .user_center .content .detail .my_inquire_list .inquire_list_filter {
        height: 40px;
        background: white;
        margin-top: 10px; }
      .user_center .content .detail .user_info .contact_wrapper {
        height: 99px;
        padding: 20px 0;
        margin-top: 10px;
        background: white;
        box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.1);
        position: relative;
        z-index: 1; }
        .user_center .content .detail .user_info .contact_wrapper .icon {
          margin: 0 25px 0 45px; }
          .user_center .content .detail .user_info .contact_wrapper .icon img {
            border-radius: 50px; }
        .user_center .content .detail .user_info .contact_wrapper .contact .user_name {
          margin-bottom: 10px; }
      .user_center .content .detail .user_info .history_wrapper {
        height: 620px;
        background: #fafafa;
        margin-top: 10px;
        box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.1); }
      .user_center .content .detail .user_info .recommand_list_wrapper {
        height: 170px;
        background: white;
        margin-top: 10px;
        box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1); }
        .user_center .content .detail .user_info .recommand_list_wrapper .title {
          width: 83px;
          height: 170px;
          line-height: 170px;
          text-align: center;
          border-left: 6px solid #09afec; }
        .user_center .content .detail .user_info .recommand_list_wrapper .car_list {
          width: 799px;
          height: 170px;
          border: 1px solid #d9dbdd;
          border-top: none;
          border-bottom: none; }
          .user_center .content .detail .user_info .recommand_list_wrapper .car_list li {
            width: 24%;
            display: inline-block;
            text-align: center; }
        .user_center .content .detail .user_info .recommand_list_wrapper .more_link {
          width: 97px;
          height: 170px;
          text-align: center;
          line-height: 170px; }
          .user_center .content .detail .user_info .recommand_list_wrapper .more_link a {
            color: #09afec; }
            .user_center .content .detail .user_info .recommand_list_wrapper .more_link a:hover {
              text-decoration: underline; }
