<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>注册登录</title>
	<link href="../style/login.css" rel="stylesheet"/>
</head>
<body>
	<div class="background">
		<% include modules/login_register/normal_login_register.ejs %>
	</div>
</body>
</html>