<div class="loginRegisterWrap">
	<div class="loginRegister">
		<div class="close"></div>
		<div class="loginPic">
			<img src="/images/login_register/login_pic.png">
		</div>
		<div class="loginContent">
			<p>亲，我们等您很久了</p>
			<div class="telephoneWrap">
				<input type="text" placeholder="请输入您的电话号码" class="telephone">
			</div>
			<button class="login">登录</button>
			<div class="verifyCodeWrap">
				<input type="text" placeholder="请输入验证码" class="verifyCode">
				<button class="getVerifyCode">免费验证码</button>
				<div class="error errorCode">验证码错误</div>
			</div>
			<div class="telephoneWrap">
				<input type="text" placeholder="如何称呼您" class="name">
				<div class="error errorName">请输入正确的称呼</div>
			</div>
			<button class="register">注册</button>
			<i>服务热线：400-879-8779</i>
		</div>
	</div>
</div>

