<div class="popup" id="popupBuy">
</div>
<div class="popup_buyCar">
    <i class="popup_close"></i>
    <div class="popup_buy_pic fl">
        <img src="/images/saleList/popup_buy_pic.jpg"/>
    </div>
    <div class="popup_buy_info fl">
        <h4>您想要好买车为您代购哪款车型？</h4>
        <ul class="popup_buyList" id="popupBuyList">
            <li class="brandList">
                <a href="javascript:;" class="brandName">请选择品牌</a>
                <div class="popup_brandList" id="brandList">
                </div>
            </li>
            <li class="carTypeList">
                <a href="javascript:;" class="typeName">请选择车型</a>
                <div class="popup_brandList" id="carTypeList">
                </div>
            </li>
            <li class="carModelList last">
                <a href="javascript:;" class="modelName">请选择款型</a>
                <div class="popup_brandList" id="carModelList">
                </div>
            </li>
        </ul>
        <input type="text" class="popup_tel" placeholder="您的手机联系方式，稍后客服将联系您"/>
        <input type="text" class="popup_user" placeholder="如何称呼您"/>
        <button class="popup_buy_submit">确定</button>
    </div>
</div>
<div class="popup_buySuccess">
    <i class="popup_close"></i>
    <div class="popup_buy_pic fl">
        <img src="/images/saleList/popup_buy_pic.jpg"/>
    </div>
    <div class="popup_buySuccess_des fl">
        <img src="http://www.haomaiche.com/upload/finalFileDir/employ/c6be910273f3452ea8726b8b89052f45.jpg"/>
        <h4>好买车 销售顾问-小罗 将在今日联系您</h4>
        <p>如有任何疑问，请致电400-097-8633</p>
        <button class="popup_success_submit">确定</button>
    </div>
</div>