<div class="popup" id="popup">
</div>
<div class="pay_success">
    <i class="popup_close"></i>
    <div class="pay_success_pic fl">
        <img src="/images/price/pay_success_bg.png"/>
    </div>
    <div class="pay_success_des fl">
        <div class="pay_success_top">
            <div class="pay_tips">
                <p>恭喜您，支付成功</p>
                <span>好买车自营直销车预定支付凭证</span>
            </div>
            <div class="pay_desInfo">
                <p>收款人：好买车（上海轩言网络信息科技有限公司）</p>
                <p>金额：<em>￥500</em></p>
            </div>
            <div class="pay_desInfo">
                <p>付款方：王先生</p>
                <p>联系方式：186****6565</p>
                <p>支付方式：支付宝，在线支付</p>
                <p>支付日期：2016/06/16 23：23</p>
                <p>支付宝交易号：201632465134651324651346531654164</p>
            </div>
            <div class="pay_desLast">
                <p>相关报价单详情</p>
                <p>询价单号：X1234651346164664646</p>
            </div>
        </div>
        <div class="pay_refund">
            <h4>退款流程</h4>
            <p>1、您支付的订金可随时在 个人中心>订单 中退款</p>
            <p>2、好买车会第一时间（工作日24小时内）审核处理您的请求，审核通过后3个工作日内会将
                订金退还至您支付的账户中。</p>
        </div>
    </div>
</div>