<div id="footer">
    <div class="wrap footer_list">
        <div class="footer_list_tel fl">
            <p class="footer_tel">400-097-8633</p>
            <p>购车热线周一至周日</p>
            <p>09:00-21:00</p>
            <p class="footer_tel">400-097-8633</p>
            <p>购车热线周一至周日</p>
            <p>09:00-21:00</p>
        </div>
        <div class="footer_list_link fl">
            <dl class="footer_list_menu">
                <dt><a href="#">关于我们</a></dt>
                <dd><a href="#">公司信息</a></dd>
                <dd><a href="#">营业执照</a></dd>
                <dd><a href="#">业务介绍</a></dd>
                <dd><a href="#">团队介绍</a></dd>
                <dd><a href="#">服务协议</a></dd>
            </dl>
            <dl class="footer_list_menu">
                <dt><a href="#">联系我们</a></dt>
                <dd><a href="#">公司账户</a></dd>
                <dd><a href="#">诚聘英才</a></dd>
                <dd><a href="#">联系我们</a></dd>
                <dd><a href="#">常见问题</a></dd>
            </dl>
            <dl class="footer_list_menu">
                <dt><a href="#">产品APP</a></dt>
                <dd><a href="#">好买车</a></dd>
                <dd><a href="#">商户端</a></dd>
            </dl>
            <dl class="footer_list_menu">
                <dt><a href="#">官方媒体</a></dt>
                <dd><a href="#">新浪微博</a></dd>
            </dl>
        </div>
        <div class="footer_list_pic fr">
            <img src="/images/index/app_pic.png"/>
            <img src="/images/index/wechart_pic.png"/>
        </div>
      </div>  
    <div class="wrap website_link">
        <p>© 2013-2016 上海轩言网络信息科技有限公司 | 销售服务：上海互言汽车服务有限公司 | 版权所有 沪ICP备12049095号-3</p>
        <ul class="website_link_menu">
            <li>
                <a href="#"><img src="/images/index/website_01.png"/></a>
            </li>
            <li>
                <a href="#"><img src="/images/index/website_02.png"/></a>
            </li>
            <li>
                <a href="#"><img src="/images/index/website_03.png"/></a>
            </li>
            <li>
                <a href="#"><img src="/images/index/website_04.png"/></a>
            </li>
            <li>
                <a href="#"><img src="/images/index/website_05.png"/></a>
            </li>
            <li class="no_margin">
                <a href="#"><img src="/images/index/website_06.png"/></a>
            </li>
        </ul>
    </div>
</div>
