<div class="car_config_container">
  <ul>
    <li class="active">基本参数</li>
    <li>车身参数</li>
    <li>发动机</li>
    <li>变速箱</li>
    <li>底盘转向</li>
    <li>车轮制动</li>
    <li>安全配置</li>
    <li>操控配置</li>
    <li>外部配置</li>
    <li>内部配置</li>
    <li>座椅配置</li>
    <li>多媒体配置</li>
    <li>灯光配置</li>
    <li>玻璃/后视镜</li>
    <li>空调/冰箱</li>
    <li>其他</li>
  </ul>
  <div class="car_config_table">
    <table>
      <thead>
        <tr>
          <th>注:标配 选配 -无</th>
          <th>沃尔沃 V40 2016款  328Li xDrive 2.0T 手自一体 豪华设计套装 </th>
          <th>沃尔沃 V40 2016款  328Li xDrive 2.0T 手自一体 豪华设计套装 </th>
          <th>沃尔沃 V40 2016款  328Li xDrive 2.0T 手自一体 豪华设计套装 </th>
          <th>沃尔沃 V40 2016款  328Li xDrive 2.0T 手自一体 豪华设计套装 </th>
        </tr>
      </thead>
      <tbody>
        <table>
          <thead>
            <tr>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>厂商</th>
              <td>长安福特</td>
              <td>长安福特</td>
              <td>长安福特</td>
              <td>长安福特</td>
            </tr>
          </tbody>
        </table>
      </tbody>
    </table>
  </div>
</div>
