<div class="direct_sale_module">
  <div class="sub_info clearfix">
    <div class="order_number fr">单号:X131313165465134653654</div>
    <div class="order_type fl">询价类型：比价</div>
    <div class="order_date fl">询价日期：2016-04-28 18:36</div>
  </div>
  <div class="sale_info clearfix">
    <div class="car_image fl">
      <img width="200" src="http://static.haomaiche.com/common/images/type/97c32ef81208445ca690672e6417f7ea.png">
    </div>
    <div class="car_description fl">
      <h4>上汽大众 Polo</h4>
      <p>款型:2015款  218i 1.5T 手自一体 运动设计套装 Gran Tourer  |  颜色:弗拉门戈高原红  |  牌照:外牌，湖北-武汉  |  购车方式:全款+置换  |  购车时间:三个月后</p>
    </div>
    <div class="shop_info fl">
      <div class="shop_image"><img width="56" src="http://static.haomaiche.com/common/images/type/97c32ef81208445ca690672e6417f7ea.png"></div>
      <h4>落地价 30.58万</h4>
      <p>一汽大众虹梅南路店 虹梅南路1528弄</p>
    </div>
  </div>
  <div class="deal_buttons clearfix">
    <button class="cancel_order_button fr">退订</button>
    <a href="#" class="order_detail_link fr">订单详情</a>
    <button class="show_pay_invoice fr">支付凭证</button>
  </div>
</div>
