<div class="map_box">
  <div id="map_fs" class="box_shadow">
    <div class="search">
      <input class="text_input" type="text" value="浦东新区-世纪公园" readonly="readonly"/>
      <span class="arrow"></span>
    </div>
    <div class="search_area_list hide">
      <div class="area_l">
        <span>黄浦区</span>
        <span>静安区</span>
        <span>闸北区</span>
        <span>徐汇区</span>
        <span>长宁区</span>
        <span>虹口区</span>
        <span>普陀区</span>
        <span>杨浦区</span>
        <span>闵行区</span>
        <span>宝山区</span>
        <span class="active">浦东新区</span>
        <span>嘉定区</span>
        <span>松江区</span>
        <span>青浦区</span>
        <span>奉贤区</span>
        <span>金山区</span>
        <span>崇明县</span>
      </div>
      <div class="area_r">
        <dl>
          <dt>B</dt>
          <dd>
            <span point="121.561972,31.187371">北蔡</span>
            <span point="121.596688,31.24956">碧云</span>
          </dd>
        </dl>
        <dl>
          <dt>C</dt>
          <dd>
            <span point="121.706001,31.193403">川沙</span>
            <span point="121.674153,31.284686">曹路</span>
          </dd>
        </dl>
        <dl>
          <dt>D</dt>
          <dd>
            <span point="121.745047,30.971191">大团镇</span>
          </dd>
        </dl>
        <dl>
          <dt>G</dt>
          <dd>
            <span point="121.610781,31.297122">高行</span>
            <span point="121.635021,31.332717">高东</span>
          </dd>
        </dl>
        <dl>
          <dt>H</dt>
          <dd>
            <span point="121.755625,31.054377">惠南镇</span>
            <span point="121.603789,31.039805">航头</span>
            <span point="121.553522,31.206075">花木</span>
            <span point="121.725522,31.24177">合庆</span>
          </dd>
        </dl>
        <dl>
          <dt>J</dt>
          <dd>
            <span point="121.608146,31.261746">金桥</span>
            <span point="121.580367,31.253157">金杨</span>
          </dd>
        </dl>
        <dl>
          <dt>K</dt>
          <dd>
            <span point="121.572156,31.154588">康桥</span>
          </dd>
        </dl>
        <dl>
          <dt>L</dt>
          <dd>
            <span point="121.563793,31.23744">联洋</span>
            <span point="121.934709,30.893208">临港新城</span>
            <span point="121.513063,31.246133">陆家嘴</span>
            <span point="121.84859,31.043243">老港镇</span>
          </dd>
        </dl>
        <dl>
          <dt>N</dt>
          <dd>
            <span point="121.51578,31.201874">南码头</span>
            <span point="121.836287,30.908809">泥城镇</span>
          </dd>
        </dl>
        <dl>
          <dt>S</dt>
          <dd>
            <span point="121.517424,31.148701">三林</span>
            <span point="121.493983,31.181075">世博</span>
            <span point="121.560876,31.218282">世纪公园</span>
            <span point="121.872991,30.979943">书院镇</span>
          </dd>
        </dl>
        <dl>
          <dt>T</dt>
          <dd>
            <span point="121.52351,31.216321">塘桥</span>
            <span point="121.66081,31.218119">唐镇</span>
          </dd>
        </dl>
        <dl>
          <dt>W</dt>
          <dd>
            <span point="121.595747,31.349601">外高桥</span>
            <span point="121.530401,31.230943">潍坊</span>
            <span point="121.827786,30.977005">万祥镇</span>
          </dd>
        </dl>
        <dl>
          <dt>X</dt>
          <dd>
            <span point="121.65729,31.052019">新场</span>
            <span point="121.649218,31.033325">宣桥</span>
          </dd>
        </dl>
        <dl>
          <dt>Y</dt>
          <dd>
            <span point="121.546062,31.213124">杨东</span>
            <span point="121.559835,31.245871">洋泾</span>
            <span point="121.538508,31.242351">源深路</span>
          </dd>
        </dl>
        <dl>
          <dt>Z</dt>
          <dd>
            <span point="121.62798,31.205055">张江</span>
            <span point="121.574223,31.119869">周浦</span>
            <span point="121.679898,31.073244">祝桥</span>
          </dd>
        </dl>
      </div>
    </div>
    <div class="map_fs_con">
      <ul>
        <li>
          <table>
            <tbody>
              <tr>
                <td class="fs_td_img">
                  <img src="http://haomaiche.com/upload/finalFileDir/fsInfo/8ec9c701b9dd4fa0b428f75301507d1d.jpg" class="fs_img">
                </td>
                <td class="fs_td">
                  <b class="fs_seled">S：上汽大众武宁南路店<i></i></b>
                  <strong>武宁南路287号（近康定路）</strong>
                  <em class="fs_seled">静安区<i class="chockBoxCls_UI chockBoxCls_UI_ed"></i></em>
                  <span class="fs_seled">4.40km</span>
                  <input class="chockBoxCls" type="checkbox" name="askpFs" fsname="上汽大众武宁南路店" fsid="1512061" value="1512061" point="121.440942,31.236917" checked="checked">
                </td>
              </tr>
            </tbody>
          </table>
        </li>
        <li>
          <table>
            <tbody>
              <tr>
                <td class="fs_td_img">
                  <img src="http://haomaiche.com/upload/finalFileDir/fsInfo/8ec9c701b9dd4fa0b428f75301507d1d.jpg" class="fs_img">
                </td>
                <td class="fs_td">
                  <b class="fs_seled">B：上汽大众东安路店上汽大众东安路店<i></i></b>
                  <strong>东安路东安路东安路东安路东安路239号2楼（近斜土路）</strong>
                  <em class="fs_seled">徐汇区<i class="chockBoxCls_UI chockBoxCls_UI_ed"></i></em>
                  <span class="fs_seled">5.33km</span>
                  <input class="chockBoxCls" type="checkbox" name="askpFs" fsname="上汽大众东安路店" fsid="13111937" value="13111937" point="121.460588,31.199364" checked="checked">
                </td>
              </tr>
            </tbody>
          </table>
        </li>
        <li>
          <table>
            <tbody>
              <tr>
                <td class="fs_td_img">
                  <img src="http://haomaiche.com/upload/finalFileDir/fsInfo/8ec9c701b9dd4fa0b428f75301507d1d.jpg" class="fs_img">
                </td>
                <td class="fs_td">
                  <b class="fs_seled">L：上汽大众赤峰路店<i></i></b>
                  <strong>赤峰路150号（近密云路）</strong>
                  <em class="fs_seled">杨浦区<i class="chockBoxCls_UI chockBoxCls_UI_ed"></i></em>
                  <span class="fs_seled">5.38km</span>
                  <input class="chockBoxCls" type="checkbox" name="askpFs" fsname="上汽大众赤峰路店" fsid="15020582" value="15020582" point="121.505086,31.287502" checked="checked">
                </td>
              </tr>
            </tbody>
          </table>
        </li>
        <li>
          <table>
            <tbody>
              <tr>
                <td class="fs_td_img">
                  <img src="http://haomaiche.com/upload/finalFileDir/fsInfo/8ec9c701b9dd4fa0b428f75301507d1d.jpg" class="fs_img">
                </td>
                <td class="fs_td">
                  <b>V：上汽大众中山北路店<i></i></b>
                  <strong>中山北路2500号（近兰田路）</strong>
                  <em>普陀区<i class="chockBoxCls_UI"></i></em>
                  <span>5.44km</span>
                  <input class="chockBoxCls" type="checkbox" name="askpFs" fsname="上汽大众中山北路店" fsid="1504245" value="1504245" point="121.430472,31.249892">
                </td>
              </tr>
            </tbody>
          </table>
        </li>
        <li>
          <table>
            <tbody>
              <tr>
                <td class="fs_td_img">
                  <img src="http://haomaiche.com/upload/finalFileDir/fsInfo/8ec9c701b9dd4fa0b428f75301507d1d.jpg" class="fs_img">
                </td>
                <td class="fs_td">
                  <b>E：上汽大众广粤路店<i></i></b>
                  <strong>广粤路231号（近广灵四路）</strong>
                  <em>虹口区<i class="chockBoxCls_UI"></i></em>
                  <span>5.72km</span>
                  <input class="chockBoxCls" type="checkbox" name="askpFs" fsname="上汽大众广粤路店" fsid="13111938" value="13111938" point="121.472293,31.291591">
                </td>
              </tr>
            </tbody>
          </table>
        </li>
        <li>
          <table>
            <tbody>
              <tr>
                <td class="fs_td_img">
                  <img src="http://haomaiche.com/upload/finalFileDir/fsInfo/8ec9c701b9dd4fa0b428f75301507d1d.jpg" class="fs_img">
                </td>
                <td class="fs_td">
                  <b>K：上汽大众周家嘴路店<i></i></b>
                  <strong>周家嘴路2885号（近黄兴路）</strong>
                  <em>杨浦区<i class="chockBoxCls_UI"></i></em>
                  <span>6.07km</span>
                  <input class="chockBoxCls" type="checkbox" name="askpFs" fsname="上汽大众周家嘴路店" fsid="13111936" value="13111936" point="121.532543,31.279804">
                </td>
              </tr>
            </tbody>
          </table>
        </li>
        <li>
          <table>
            <tbody>
              <tr>
                <td class="fs_td_img">
                  <img src="http://haomaiche.com/upload/finalFileDir/fsInfo/8ec9c701b9dd4fa0b428f75301507d1d.jpg" class="fs_img">
                </td>
                <td class="fs_td">
                  <b>U：上汽大众宁夏路店<i></i></b>
                  <strong>宁夏路777号（近凯旋北路）</strong>
                  <em>普陀区<i class="chockBoxCls_UI"></i></em>
                  <span>6.55km</span>
                  <input class="chockBoxCls" type="checkbox" name="askpFs" fsname="上汽大众宁夏路店" fsid="13120952" value="13120952" point="121.418242,31.236717">
                </td>
              </tr>
            </tbody>
          </table>
        </li>
      </ul>
    </div>
  </div>
  <div id="shop_map" class="shop_map">
  </div>
</div>
