<div class="my_inquire_list">
  <div class="inquire_list_filter" style="display:none;">
    <div class="type filter_wrapper">
      <button class="filter_button">全部询价类型</button>
    </div>
    <div class="time filter_wrapper">
      <button class="filter_button">最近三个月报价</button>
    </div>
  </div>
  <div class="inquire_last">
    <div class="inquire_module">
      <div class="sub_info">
        <div class="order_number fr">单号:X131313165465134653654</div>
        <div class="order_type fl">询价类型：比价</div>
        <div class="order_date fl">询价日期：2016-04-28 18:36</div>
      </div>
      <div class="detail_info">
        <div class="car_image fl">
          <img width="200" src="http://static.haomaiche.com/common/images/type/20e7d1020e0f42f79657a59316fa8519.png">
        </div>
        <div class="car_description fl">
          <h2>上海大众 Polo</h2>
          <p>款型:2015款  218i 1.5T 手自一体 运动设计套装 Gran Tourer  |  颜色:弗拉门戈高原红  |  牌照:外牌，湖北-武汉  |  购车方式:全款+置换  |  购车时间:三个月后</p>
        </div>
        <div class="inquire_status fl">
          <h3 class="main_status_text">正在报价</h3>
          <p class="main_status_desc">预计最长等待时间 12:25:43</p>
          <ul class="status_list">
            <li style="width:56px;height:56px;background:black;background-size:100%;">
              <i class="status_icon pending"></i>
              <p class="status_text">正在报价</p>
            </li>
          </ul>
          <div class="check_inquire_link">
            <a href="/123/">查看报价单</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="">
    <!-- recommand car list -->
  </div>
  <div class="inquire_all">

  </div>
</div>
