<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>好买车</title>
    <link href="/style/user_center_order_compare.css" rel="stylesheet" />
  </head>
  <body>
    <div class="user_center_order_compare">
      <div class="order">
        <div class="orderInfo">
          <!-- <img src="<%- orderInfo.carImageLink %>"> -->
          <div class="orderInfoText">
            <p class="title"><%- orderInfo.carName %></p>
            <p class="subtitle">款型:<span>2015款  218i 1.5T 手自一体 运动设计套装 Gran Tourer</span>颜色:<span>弗拉门戈高原红</span>牌照:<span>外牌，湖北-武汉</span>购车方式:<span>全款+置换</span>购车时间:<span>3个月后</span></p>
          </div>
        </div>
        <div class="orderNumber">
          <p class="ensure">好买车为您提供保价，您可以以此单据和价格去当前4S店购车</p>
          <p class="number">订单号:<span>X13465434651032465165465465</span></p>
        </div>
        <div class="orderDetail">
          <div class="detailLandprice">
            <p>到手总价￥</p>
            <p class="total">23.40万</p>
            <table>
              <tbody>
                <tr>
                  <td class="leftrow">厂商指导价</td>
                  <td class="price">￥<%- orderInfo.msrp %>万</td>
                </tr>
                <tr>
                  <td class="leftrow">裸车价</td>
                  <td class="price">￥22.40万</td>
                </tr>
                <tr class="firstBottom">
                  <td class="leftrow">裸车让利</td>
                  <td class="price">￥2.00万</td>
                </tr>
              </tbody>
              <tbody>
                <tr class="second">
                  <td class="leftrow">库存</td>
                  <td>少量现车</td>
                </tr>
              </tbody>
              <tbody>
                <tr class="thirdTop">
                  <td class="leftrow">购置税</td>
                  <td>5,372元（金额为估值，交易后多退少补）</td>
                </tr>
                <tr>
                  <td class="leftrow">商业保险费</td>
                  <td>5,372元（金额为估值，交易后多退少补）</td>
                </tr>
                <tr>
                  <td class="leftrow">贷款手续费</td>
                  <td>950元</td>
                </tr>
                <tr>
                  <td class="leftrow">贷款补贴</td>
                  <td>1,000元</td>
                </tr>
                <tr class="thirdBottom">
                  <td class="leftrow">置换补贴</td>
                  <td>1,000元</td>
                </tr>
              </tbody>
              <tbody>
                <tr class="forthTop">
                  <td class="leftrow">加装费用</td>
                  <td>6000元</td>
                </tr>
                <tr>
                  <td class="leftrow">加装项目</td>
                  <td>玻璃板，天窗，发动机3号</td>
                </tr>
                <tr class="forthBottom">
                  <td class="leftrow">装潢赠送</td>
                  <td>玻璃板，天窗</td>
                </tr>
              </tbody>
              <tbody>
                <tr class="fifth">
                  <td class="leftrow">补充说明</td>
                  <td class="information">到店更多优惠，就这些，就这些就这些就这些就这些就这些就这些就这些就这些就这些就这些就这些就这些就这些就这些就这些就这些就这些就这些就这些就这些就这些就这些就这些就这些就这些就这些就这些</td>
                </tr>
              </tbody>
            </table>
            <div class="salesManager">
              <img src="/images/user_center/salesManager.png">
              <div class="contact">
                <p>上汽通用别克吴中路店</p>
                <p>王某某  销售经理</p>
                <p>联系电话：18645456565</p>
              </div>
            </div>
            <div class="paid">
              <p>您已支付保证定金￥<span>500</span></p>
              <img src="/images/user_center/pay.png">
              <span>查看支付凭证</span>
              <img src="/images/user_center/app.png">
              <span>下载APP,查看手机订单</span>
              <div class="cancel">退订并退款</div>
            </div>
          </div>
          <div class="detailEnsure">
            <p class="deal">交易保障</p>
            <ul>
              <li>
                <img src="/images/user_center/protection.png">
                <p class="question">订金是否可以退？</p>
                <p class="answer">支付500元订金后，好买车服务顾问会第一时间和您联系确认好购车细节，如果您未考虑周全，可在24小时内无条件终止买车计划、退还全额订金；<br/>24小时后，我们默认您已确认购买，届时会将订金转至4S店，如果您此时想终止买车计划，好买车会协助您与4S店协商退款事宜，同时提供咨询和举证义务。</p>
              </li>
              <li>
                <img src="/images/user_center/protection.png">
                <p class="question">订金的退款流程是什么？</p>
                <p class="answer">您可以在好买车网站右上角个人中心的订单内申请退款，好买车会第一时间（工作日24小时内）审核处理您的请求，审核通过后3天内会将订金退还至您支付的账户中。</p>
              </li>
              <li>
                <img src="/images/user_center/protection.png">
                <p class="question">出现哪些情况，判断4S店违约？</p>
                <p class="answer">在报价单有效期内，用户去4S店购车时出现实际交易价格与报价单价格不符、强制加装、隐形收费等情况，都将判定4S店违约，好买车承诺提供订金退一赔二的先行赔付保障。</p>
              </li>
              <li>
                <img src="/images/user_center/protection.png">
                <p class="question">出现哪些情况，判断4S店违约？</p>
                <p class="answer">好买车合作伙伴均为厂商授权4S店，会为您提供正规发票，用户所购买的车辆均依法享受包退、包换、包修的三包服务。<br/>用户所购车辆都是全国联保的，您可就近选择4S店进行维修保养，也可以咨询好买车客服，由客服推荐4S店保养，届时只需携带保养手册和行驶证即可。<br/>用户在用车养车的过程中，有任何疑问，随时可致电好买车客服，我们会为您一一解答，并终生提供服务。</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <% include common/common_footer.ejs %>
  </body>
</html>
