<div class="recommand_list_wrapper clearfix">
  <div class="title fl">
    <h3>猜你喜欢</h3>
  </div>
  <div class="car_list fl">
    <ul>
      <!-- recommand list -->
      <li>
        <p><img width="140" src="http://static.haomaiche.com/common/images/type/97c32ef81208445ca690672e6417f7ea.png"></p>
        <h2>沃尔沃 V40</h2>
        <p>2.0T 双离合</p>
        <p><b>28.84万</b></p>
      </li>
      <li>
        <p><img width="140" src="http://static.haomaiche.com/common/images/type/97c32ef81208445ca690672e6417f7ea.png"></p>
        <h2>沃尔沃 V40</h2>
        <p>2.0T 双离合</p>
        <p><b>28.84万</b></p>
      </li>
      <li>
        <p><img width="140" src="http://static.haomaiche.com/common/images/type/97c32ef81208445ca690672e6417f7ea.png"></p>
        <h2>沃尔沃 V40</h2>
        <p>2.0T 双离合</p>
        <p><b>28.84万</b></p>
      </li>
      <li>
        <p><img width="140" src="http://static.haomaiche.com/common/images/type/97c32ef81208445ca690672e6417f7ea.png"></p>
        <h2>沃尔沃 V40</h2>
        <p>2.0T 双离合</p>
        <p><b>28.84万</b></p>
      </li>
    </ul>
  </div>
  <div class="more_link fl">
    <a href="#">查看更多&gt;</a>
  </div>
</div>
